<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.poncoe.latihanmasterandroidponcoe"
    android:installLocation="auto">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission
        android:name="android.permission.INTERNET" />

    <application
        android:largeHeap="true"
        android:noHistory='true'
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".java.MainActivityJava">
            <!-- <activity android:name=".Kotlin.MainActivityKt"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".java.BarVolumeJava"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".java.belajarintent.BelajarPindahActivityJava"
            android:screenOrientation="portrait" />
        <activity
            android:name=".java.belajarintent.IntentExplicitJava"
            android:screenOrientation="portrait" />
        <activity
            android:name=".java.belajarintent.PindahActivityJava"
            android:screenOrientation="portrait" />
        <activity
            android:name=".java.ViewViewGroupJava"
            android:screenOrientation="portrait" />
        <activity
            android:name=".java.recyclerview.MainRecyclerView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.BarVolumeKt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.ViewViewGroupKt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.belajarintent.BelajarPindahActivityKt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.belajarintent.IntentExplicitKt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.belajarintent.PindahActivityKt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.MainActivityKt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.recyclerview.MainRecyclerView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".java.recyclerview.DetailM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.recyclerview.DetailM"
            android:screenOrientation="portrait" />

    </application>
</manifest>